/* about us page */
.sub_header {
    height: 50vh;
    width: 100%;
    background-image: url("https://demo.web3canvas.com/themeforest/unisco/images/slider.jpg");
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #f3f0f0;
  }
  
  .sub_header h1 {
    margin-top: 150px;
    color: aliceblue;
    font-size: 36px;
  }
  .about_us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .about_us .row {
    display: flex;
  }
  .about_col {
    flex-basis: 48%;
    padding: 20px;
  }
  .about_col h1 {
    font-size: 30px;
    color: #902c07;
    margin: 10px 0;
  }
  .about_col p {
    margin-bottom: 20px;
  }
  .about_btn {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color);
    border: 2px solid #f36b3b;
    font-size: 15px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  .about_btn:hover {
    border: 1px solid #192e49;
    background: #192e49;
    transition: 1s;
  }
  .about_col img {
    width: 80%;
    height: 70%;
  }

.about_us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}
.about_us .row {
  display: flex;
}
.about_col {
  flex-basis: 48%;
  padding: 20px;
}
.about_col h1 {
  font-size: 30px;
  color: #902c07;
  margin: 10px 0;
}
.about_col p {
  margin-bottom: 20px;
}
.about_btn {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  border: 2px solid #f36b3b;
  font-size: 15px;
  padding: 12px 34px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.about_btn:hover {
  border: 1px solid #192e49;
  background: #192e49;
  transition: 1s;
}
.about_col img {
  width: 100%;
}

@media screen and  (max-width: 600px){
    .about_us {
        width: 80%;
        margin: auto;
        padding-top: 80px;
        padding-bottom: 50px;
      }
      .about_us .row {
        display: flex;
        flex-direction: column;
      }
      /* .about_col {
        flex-basis: 48%;
        padding: 20px;
      } */
      .about_col h1 {
        font-size: 30px;
        color: #902c07;
        margin: 10px 0;
      }
      .about_col p {
        margin-bottom: 20px;
      }
      .about_btn {
        display: inline-block;
        text-decoration: none;
        color: var(--primary-color);
        border: 2px solid #f36b3b;
        font-size: 15px;
        padding: 12px 34px;
        background: transparent;
        position: relative;
        cursor: pointer;
      }
      .about_btn:hover {
        border: 1px solid #192e49;
        background: #192e49;
        transition: 1s;
      }
      .about_col img {
        width: 100%;
      }
}