nav{
    width: 80%;
}

nav a{
    text-decoration: none;
    
}

nav ul{

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    


}
nav ul .list{
    margin: 0 10px;
}

@media screen and  (max-width: 600px) {
    nav{
        width: 100%;
    } 

    nav ul .list{
        margin: 0 5px;
        font-size: 15px;
    }
    
    
}