.cart-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 10px; */
    text-align: center;
    
}

@media screen and  (max-width: 688px) {
    .cart-item{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* gap: 10px; */
        text-align: center;
        
    }
}

@media screen and (min-width:689px) and (max-width: 992px) {
    .cart-item{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 10px; */
        text-align: center;
        
    }
    
}